{% extends "main.html" %}

{% block title %}
ABOUT
{% endblock %}

{% block content %}

<h3>About this Wiki</h3>

<p> Welcome to our SpongeBob Wiki! Here, you will find information about all your favorite characters and places from the beloved animated series, SpongeBob SquarePants. </p>

<h3>Your Authors</h3>

<p> Myles Moody </p>
<img class="preset_img" src="images/myles.png" width="300" height="300" alt="myles.png missing, please add manually, buckets/ama_wiki_contents/ama_images">

<p> Akwesi Peasare </p>
<img class="preset_img" src="images/akwesi.png" width="300" height="300" alt="akwesi.png missing, please add manually, buckets/ama_wiki_contents/ama_images">

<p> Alan Gonzalez </p>
<img class="preset_img" src="images/alan.png" width="300" height="300" alt="alan.png missing, please add manually, buckets/ama_wiki_contents/ama_images">

{% endblock %}



