{% extends "main.html" %}

{% block title %}
ABOUT
{% endblock %}

{% block content %}
<h3>About this Wiki</h3>

<p> Add information about the wiki

<h3>Your Authors</h3>

<p> Myles Moody </p>
<img src="images/myles.png" alt="myles.png missing, please add manually, buckets/ama_wiki_contents/ama_images">

<p> Akwesi Peasare </p>
<img src="images/akwesi.png" alt="akwesi.png missing, please add manually, buckets/ama_wiki_contents/ama_images">

<p> Alan Gonzalez </p>
<img src="images/alan.png" alt="alan.png missing, please add manually, buckets/ama_wiki_contents/ama_images">

{% endblock %}

