{% extends "main.html" %}


{% block title %}
LOGIN
{% endblock %}



<!-- Creating Both Bars for Username and Password inputs. Also creates submit button. -->
{% block content %}
<h1> Login </h1>
<from action = "/login" >
    <input type = "text" placeholder = "Username" name = "username" >
    <input type = "text" placeholder = "Password" name = "password" >
    <button type = "submit"> login </button>
</from>

<!-- Statement if user iisn't a member -->
{% if status == 'not_member' %}
<p style = "color: red;">Incorrect username or password!</p>

<!-- Statement if user is member  -->
{% elif status == 'is_member' %}
  <p style = "color: rgb(207, 69, 207);"> Welcome username </p>  <!-- rmb to write as {{username}} -->
{% endif %}


{% endblock %}
