<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - AMA WIKI</title>
    {% endblock %}
</head>
<body>
    <!-- <div> -->
        <!-- <p>HOME PAGES SIGN IN ABOUT (Not working yet)</p> -->
        <nav>
            <ul>
                <li><a href="/">Home</a> 
                <a href="/pages">Pages</a> <a href="/signup">Sign Up</a> 
                <a href="/about">About</a> 
                <a href="/upload">Upload</a> 
                <a href="/logout">Logout</a> 
                <a href = "/login">Login</a></li>    
        </nav> 
    <!-- </div> -->
    <div>{% block content %}{% endblock %}</div>
      
</body>
</html>