<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - AMA WIKI</title>
    {% endblock %}
</head>
<body>
    <!-- <div> -->
        <!-- <p>HOME PAGES SIGN IN ABOUT (Not working yet)</p> -->
        <nav>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/pages">Pages</a></li>
            <li><a href="#signIn">Sign In</a></li>
            <li><a href="/about">About</a></li>
            </ul>
        </nav> 
    <!-- </div> -->
    <div>{% block content %}{% endblock %}</div>
<!-- 
    <nav>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="/pages">Pages</a></li>
          <li><a href="#services">Sign In</a></li>
          <li><a href="#contact">About</a></li>
        </ul>
      </nav> -->
      
</body>
</html>