{% extends "main.html" %}

{% block title %}
UPLOAD
{% endblock %}

{% block content %}
<h2> Upload a doc to the Wiki </h2>
<form method="POST" action="/upload_wiki" enctype="multipart/form-data">
    <input type="text" placeholder="wikiname" name="wikiname"/><input type="file" name="file_to_upload"/>
    <button type="submit">Upload</button>
</form>

{% if status == 'used' %}
<p style="color: red;">Name for wiki already in use</p>

{% elif status == 'empty' %}
<p style="color: red;">Wiki Name Missing</p>

{% elif status == 'no_file' %}
<p style="color: red;">Error. No file to upload</p>

{% elif status == 'wrong_file' %}
<p style="color: red;">Wrong file type</p>

{% elif status == 'successful' %}
<p>File Uploaded</p>

{% endif %}

{% endblock %}

